
<app-kids-display
[kids]="kids"
(update)="onUpdateClick($event)"
(delete)="onDeleteClick($event)"
(visit)="onVisitClick($event)"
(create)="onCreateClick()"
/>

<app-create-kid-modal
*ngIf="showCreateModal"
(create)="onCreate($event)"
(cancel)="onCancelCreate()"
/>

<app-delete-kid-modal
[kid]="selectedKid"
*ngIf="showDeleteModal"
(delete)="onDelete()"
(cancel)="onCancelDelete()"
/>

<app-update-kid-modal
[kid]="selectedKid"
*ngIf="showUpdateModal"
(update)="onUpdate($event)"
(cancel)="onCancelUpdate()"
/>

